.form {
  &-input {
    @apply rounded h-9 border border-gray-300 transition duration-200 focus:border-secondary focus:outline-none px-3;
  }

  &-select {
    @apply rounded h-9 border border-gray-300 transition duration-200 focus:border-secondary focus:outline-none px-3;
  }

  &-textarea {
    @apply rounded border border-gray-300 transition duration-200 focus:border-secondary focus:outline-none px-3 pt-1;
  }
}