<div class="flex bg-gray-200 overflow-hidden relative text-sm">
  <span class="flex-shrink-0 inline-flex items-center px-3 bg-secondary text-white text-xs lg:text-base z-10">
    <span class="hidden lg:block">Rabu, 20 Januari 2021</span>
    <span class="block lg:hidden"><span class="fa fa-bullhorn"></span></span>
  </span>
  <marquee class="w-full py-1 lg:py-2 inline-flex items-center divide-x-2 divide-solid divide-gray-700" onmouseover="this.stop();" onmouseout="this.start();">
    <span class="px-5">Selamat datang di Website Resmi SMAN 9 Kuningan. Silakan gunakan navigasi untuk menjelajah isi website ini.</span>
    <span class="px-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
    <span class="px-5">Necessitatibus est voluptatum, doloremque unde atque nobis itaque. Similique, neque obcaecati?</span>
  </marquee>
</div>