<section class="owl-carousel o-slider w-full max-h-full max-w-slider mx-auto">
  <figure class="lg:h-slider h-48 w-full">
    <img src="https://cms.sekolahku.web.id/media_library/image_sliders/bace32ff2955deaeb447fed8162309a7.jpg" alt="slider" class="lg:h-slider h-48 w-full object-cover object-center">
  </figure>
  <figure class="lg:h-slider h-48">
    <img src="https://cms.sekolahku.web.id/media_library/image_sliders/86dd4cf3287b5d3d64612b7c55e24d9f.jpg" alt="slider" class="lg:h-slider h-48 w-full object-cover object-center">
  </figure>
</section>
